doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Екатерина Павлова
		link(rel="stylesheet", href="assets/index.css")
		<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet"> 
	body 
		.app
			.app__waves.waves 
				.waves__wave.waves__wave_1 
				.waves__wave.waves__wave_2 
				.waves__wave.waves__wave_3
				.waves__wave.waves__wave_4.waves__wave_rev
				.waves__wave.waves__wave_5.waves__wave_rev
				.waves__wave.waves__wave_6.waves__wave_rev
			.app__hor-sli.hor-sli.hor-sli--0
				.hor-sli__item.hor-sli__item--selected
					.hor-sli__icon.hor-sli__icon_1
					.hor-sli__name Информация
				.hor-sli__item.hor-sli__item--selectable
					.hor-sli__icon.hor-sli__icon_2
					.hor-sli__name Навыки
				.hor-sli__item.hor-sli__item--selectable
					.hor-sli__icon.hor-sli__icon_3
					.hor-sli__name Книги
				.hor-sli__item.hor-sli__item--selectable
					.hor-sli__icon.hor-sli__icon_4
					.hor-sli__name Отзывы
				.hor-sli__item.hor-sli__item--selectable
					.hor-sli__icon.hor-sli__icon_5
					.hor-sli__name Контакты
			.app__all-ver.all-ver.all-ver--0
				.all-ver__ver-sli.ver-sli.ver-sli_1.all-ver__ver-sli--selected.ver-sli--0
					.ver-sli__item.ver-sli__item--selected.openable
						.ver-sli__icon.ver-sli__icon_pavlova
						.ver-sli__name Обо мне
					.ver-sli__item.ver-sli__item--selectable.openable
						.ver-sli__icon.ver-sli__icon_about
						.ver-sli__name О проекте
				.all-ver__ver-sli.ver-sli.ver-sli_2.all-ver__ver-sli--selectable.ver-sli--0
					.ver-sli__item.ver-sli__item--selected.openable
						.ver-sli__icon.ver-sli__icon_eng
						.ver-sli__name Английский
					.ver-sli__item.ver-sli__item--selectable.openable
						.ver-sli__icon.ver-sli__icon_deu
						.ver-sli__name Немецкий
					.ver-sli__item.ver-sli__item--selectable.openable
						.ver-sli__icon.ver-sli__icon_html
						.ver-sli__name HTML
					.ver-sli__item.ver-sli__item--selectable.openable
						.ver-sli__icon.ver-sli__icon_css
						.ver-sli__name CSS
					.ver-sli__item.ver-sli__item--selectable.openable
						.ver-sli__icon.ver-sli__icon_js
						.ver-sli__name JavaScript
				.all-ver__ver-sli.ver-sli.ver-sli_3.all-ver__ver-sli--selectable.ver-sli--0
					.ver-sli__item.ver-sli__item--selected
						.ver-sli__icon.ver-sli__icon_book1
						.ver-sli__name Грокаем алгоритмы
					.ver-sli__item.ver-sli__item--selectable
						.ver-sli__icon.ver-sli__icon_book2
						.ver-sli__name Выразительный JavaScript
				.all-ver__ver-sli.ver-sli.ver-sli_4.all-ver__ver-sli--selectable.ver-sli--0
					.ver-sli__item.ver-sli__item--selected.openable
						.ver-sli__icon.ver-sli__icon_mom
						.ver-sli__name Мама
				.all-ver__ver-sli.ver-sli.ver-sli_5.all-ver__ver-sli--selectable.ver-sli--0
					a(href="https://wa.me/+79273109740" target="_blank").ver-sli__item.ver-sli__item--selected
						.ver-sli__icon.ver-sli__icon_wh
						.ver-sli__name WhatsApp
					a(href="https://vk.com/id176175473" target="_blank").ver-sli__item.ver-sli__item--selectable
						.ver-sli__icon.ver-sli__icon_vk
						.ver-sli__name VK
					a(href="tel:+79273109740" target="_blank").ver-sli__item.ver-sli__item--selectable
						.ver-sli__icon.ver-sli__icon_tel
						.ver-sli__name Телефон
					a(href="mailto:kpavlovar@gmail.com" target="_blank").ver-sli__item.ver-sli__item--selectable
						.ver-sli__icon.ver-sli__icon_email
						.ver-sli__name E-mail
					a(href="https://www.instagram.com/__katerinapavlova__/" target="_blank").ver-sli__item.ver-sli__item--selectable
						.ver-sli__icon.ver-sli__icon_insta
						.ver-sli__name Instagram
			.app__modal.modal
				.modal__tapfield 
				.modal__window
					.modal__name 
					.modal__content

		script(src="assets/index-dist.js")